<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Name.cshtml" method= "post">
        Name <input type="text" name="name" /><br>
        <input type="submit" value="Wstaw" name="wstaw">

    </form>
</body>
</html>
